<div class="toolbar">
	<h1>New Contact</h1>
</div>

<form method="POST" action="<%=url_for(:action => :create)%>">
	  <ul>
      <li>
			  <input type="text" name="contact[first_name]" placeholder="First Name"/>
		  </li>
		
		  <li>
			  <input type="text" name="contact[last_name]" placeholder="Last Name"/>
		  </li>

      <li>
			  <input type="text" name="contact[email_address]" placeholder="Email Address"/>
		  </li>
		
		  <li>
			  <input type="text" name="contact[business_number]" placeholder="Business Number"/>
		  </li>
		  
		  <li>	
		    <input type="submit" value="Create"/>
      </li>
    </ul>
</form>