<div class="toolbar">
	<h1 id="pageTitle">Info</h1>
	<a class="back" href="/app/Contact" target="_webapp">Back</a>
	<a class="button slideup" target="_webapp" href="<%=url_for(:action => :edit, :id => @contact['id'])%>">Edit</a>
</div>

<div>
<ul class="rounded">
  <li>First Name <%=@contact['first_name']%></li>
  <li>Last Name <%=@contact['last_name']%></li>
</ul>
</div>