<!doctype html>
	<head>
		<title>Contacts</title>
	  <link rel="stylesheet" href="/public/jqtouch/jqtouch.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/public/themes/apple/theme.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/public/jqtouch/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/jqtouch/jqtouch.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript">
      var jQT = $.jQTouch();
    </script>

	</head>
	<body>
	  <div id="jqt">
	    <div>
  		<%= @content %>
  		</div>
		</div>
	</body>
</html>